<div class="book-info">
  <div>
    <strong>Author</strong>: 
    {{ with (.Get "authorLink") -}}
    <a href="{{ . }}">
    {{- end -}}
    {{ with (.Get "author" | markdownify) -}}{{ . }}{{- end -}}<br>
  </a>

    <strong>Length</strong>: {{ with (.Get "words" | markdownify) -}}{{ . }}{{- end -}}&nbspwords<br>
    <strong>Audio</strong>: {{ with (.Get "listening" | markdownify) -}}{{ . }}{{- end -}}<br>
    <strong>ISBN</strong>: {{ with (.Get "isbn" | markdownify) -}}{{ . }}{{- end -}}
  </div>

  <div>
    {{ with (.Get "cover") -}}
    <img src="{{ . }}" height='200'>
    {{- end -}}
  </div>


</div>
<!-- 
  <book 
    author="Bill Gates" 
    authorLink="https://www.gatesnotes.com/" 
    words="81,328" 
    wordsLink="https://howlongtoread.com/books/9032262/How-to-Avoid-a-Climate-Disaster-The-Solutions-We-Have" 
    listening="8h 49m"
    listeningLink="https://howlongtoread.com/books/9032262/How-to-Avoid-a-Climate-Disaster-The-Solutions-We-Have" 
    isbn="978-0385546133" 
    cover="/media/gates2021-cover.jpg"
  >
-->
